@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="jumbotron jumbotron-fluid">

    <h2 style="text-align:center; color:#085077">Welcome to iBusiness Management!</h2>
    <div style="color:#085077">
        Business and Management are the disciplines devoted to organizing, analyzing, and planning various types of business operations. And if that sounds really general,
        that’s just because these fields cover a lot of ground! Business Management System, or BMS, is a toolset that's used for tactical implementation and strategic planning of practices, processes,
        policies, guidelines, and procedures to use in the deployment, execution, and development of business strategies and plans, as well as any associated management activities.
    </div>


</div>



<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<style>


    body {
        background-image: url('/Images/i3.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
    }

    .jumbotron {
        background: rgba(204, 204, 204, 0.5);
    }

    .lead {
        background: rgb(255, 204, 204);
    }
</style>


