@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Title.</h2>


<address>
    Iordache Adrian Razvan <br />
    Facultatea de Matematica si Informatica, anul 3<br />
    <abbr title="Phone">P:</abbr>
    425.555.324
</address>

<address>
    Neferu Ana-Maria <br />
    Facultatea de Matematica si Informatica, anul 3<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>


<style>


    body {
        background-image: url('/Images/i3.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
    }
</style>